// .accordion-button::after,
// .accordion-button:not(.colapse)::after {
//   background-image: none;
// }
@import 'flatpickr/dist/flatpickr.min.css';

a {
  cursor: pointer;

  &#addItem:hover {
    color:brown;
  }
}
aside {
  
  @media (max-width: 767px) { 
    width: 100% !important;
    background-color: #e6e6e6;
   }
}

div#projects {
  position: relative;
  @media (max-width: 767px) { 
    &  div {
      transition: opacity ease-in-out 100ms;
      z-index: 10;
      padding: .5rem 1rem;
      position: absolute;
      bottom: 4rem;
      left: -100%;
      background-color: white;
      
      & li {
        white-space: nowrap;
        padding: .25rem 0;
      }
    }
   }
}

// 3rd part CSS styling
.accordion-item:not(:first-of-type) {
  border-top: 1px solid rgba(0,0,0,.125);
}
.accordion-item {
  border-radius: 0 !important;
  margin-bottom: .25rem;
}


.accordion-button {
  padding: .5rem 1.25rem;
}

.accordion-button:not(.collapsed) {
  background: none;
}
.accordion-item {
  position: relative;
}
.form-check-input{
  border-radius: 0.2em !important;
  width: 1rem;
  height: 1rem;
  margin: .15rem;

  &:checked {
    background-color: #fd7e14;
    border-color: #ffc107;
  }
}
.accordion-button {
  width: auto;
}
.accordion-header code {
  font-size: .875rem ;
}

.btn-outline-warning:hover {
  color: white;
}
.accordion-button::after {
  width: 0.75rem;
  height: 0.75rem;
  background-size: .75rem;
  position: absolute;
  right: 0;
}

div.date {
  $spacing: 2rem;
  position: relative;

  & a.input-button {
    position: absolute;
    top: .55rem;
    left: calc($spacing - calc($spacing / 2) - .3rem );
    z-index: 10;
    text-decoration: none;
    display: block;
    // padding: 8.5px 12px;
    border-left: 0;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    line-height: 1;
  }

  & input#dueDate {
    padding-left: $spacing;

    &::placeholder {
      color: #424242;
      opacity: .5;
      position: absolute;
      left: $spacing;
    }
  }
}

.flatpickr-calendar,
.flatpickr-weekdays,
.dayContainer,
.flatpickr-days {
  width: 230px !important;
  min-width: auto;
  max-width: auto;
}

.flatpickr-day {
  border-radius: .5rem;
  width: .5rem;
  height: 1.5rem;
  line-height: normal;
}

input[type="text"] {
  border: none;
  // border-bottom: 1px solid lightgray;
  font-weight: 500;
  color: #707070;

  &::placeholder {
    color: #424242;
    opacity: .5;
    position: absolute;
    left: 1rem;
  }

}

#addMore,
#saveItem {
  opacity: 0;
  transition:opacity linear 150ms;
}

#addMore.revealItem,
#saveItem.revealItem {
  opacity: 1;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background: none;
  background-image: none !important;
}
input[type="checkbox"]:focus {
  box-shadow: none;
}

.accordion-button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select.form-select:focus,
.uneditable-input:focus {   
 box-shadow: none;
  // border-color: lightgray;
  // border-color: rgba(239, 225, 104, 0.8);
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 230, 104, 0.6);
  outline: 0 none;
  background: none;
  color: #424242;
}
.btn-outline-warning, .btn-outline-warning:focus,
.btn-warning, .btn-warning:focus {
  box-shadow: none;
  // border: none;
   outline: none;
}

.bg-gray {
  & > div {
    background-color: #f5f5f5;
  }
}

:root {
  font-size: .85rem;
}
